body {
    background-color: #000;
}

#landing-header {
    z-index : 1;
    position : relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: #fff;
}

.slideshow {
    position : fixed;
    width : 100%;
    height: 100%;
    top : 0;
    left : 0;
    z-index : 0; 
    list-style: none;
    margin: 0;
    padding : 0;
}


.slideshow li {
    width : 100%;
    height : 100%;
    position: absolute;
    top: 0;
    left : 0;
    background-size : cover;
    background-position : 50% 50%;
    background-repeat : no-repeat;
    opacity : 0;
    z-index : 0;
    animation : imageAnimation 50s linear infinite;
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}


.slideshow li:nth-child(1) { 
  background-image: url(https://cdn-images-1.medium.com/max/1600/1*1rOu9arlxUGBN4SL8d32GQ.jpeg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1536553938978-15b27e2b8eb6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=488aca792d03ac276e5547d11ddfaaec&auto=format&fit=crop&w=1650&q=80);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1523057530100-383d7fbc77a1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cff1b2c9744c71e84145dd78928513fc&auto=format&fit=crop&w=1649&q=80);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1531219432768-9f540ce91ef3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9f841cc8d9623cc53de075ada258fed0&auto=format&fit=crop&w=1650&q=80);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s; 
}


